<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문공 관리자 페이지</title>
    <style th:replace="fragments.html :: head-style"></style>

</head>
<div th:replace="fragments.html :: head-link"></div>
<body style="background: rgba(123,46,255,0.23) ">
<div class="container">
    <div class="text-center">
        <h1 class="pt-5">👩문공 예약 현황 관리자 페이지🧑</h1>
        <br/>
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/book/form'">예약 신청 하기</button>
        <button type="button" class="btn btn-outline-danger btn-lg" onclick="location.href='/book/modify/login'">예약 수정
        </button>
        <button type="button" class="btn btn-outline-success btn-lg" onclick="location.href='/book/status'">예약 확인
        </button>
        <button type="button" class="btn btn-info btn-lg" onclick="location.href='/'">홈으로 돌아가기</button>
        <hr/>
    </div>

    <div class="row text-left font-weight-bold" th:text="${systemData.getFirstPartTime()}">1time</div>
    <div class="row">
        <!--TODO : 현재날짜인경우  listgroup 색상변경-->
        <div class="list-group" th:each="num : ${#numbers.sequence(0,6)}">
            <a href="#" class="list-group-item list-group-item-action p-1" th:classappend="${timePartList[__${num}__].getDate()==today} ? list-group-item-info : list-group-item-secondary">
                <div class="d-flex w-100 justify-content-between">
                    <p class="m-0"
                       th:text="${timePartList[__${num}__].getDate().getMonthValue()}+'월' + ${timePartList[__${num}__].getDate().getDayOfMonth()} + '일('+${dayOfWeekList[__${numStat.index}__]}+')'">
                        title</p>
                    <small class="text-muted"></small>
                </div>
            </a>

            <a th:if="${#strings.setIsEmpty(timePartList[__${num}__].getVisitors())}" href="#"
               class="list-group-item list-group-item-action p-1">
                <div class="d-flex w-100 justify-content-center">
                    <p class="m-0 ">-</p>
                    <small class="text-muted"></small>
                </div>
            </a>
            <a th:if="${!#strings.setIsEmpty(timePartList[__${num}__].getVisitors())}"
               th:each=" visitor : ${timePartList[__${num}__].getVisitors()}" href="#"
               th:href="@{'/admin/visitor?id='+${visitor.getId()}}" class="list-group-item list-group-item-action p-1">
                <div class="d-flex w-100 justify-content-between">
                    <p class="m-0" th:text="${visitor.getName()}">name</p>
                    <small class="text-muted" th:text="${visitor.getPhoneNumber()}">phone number</small>
                </div>
            </a>
        </div>
    </div>
    <hr/>

    <div class="row text-left font-weight-bold" th:text="${systemData.getSecondPartTime()}">2time</div>
    <div class="row">
        <!--TODO : 현재날짜인경우  listgroup 색상변경-->
        <div class="list-group" th:each="num : ${#numbers.sequence(7,13)}">
            <a href="#" class="list-group-item list-group-item-action p-1" th:classappend="${timePartList[__${num}__].getDate()==today} ? list-group-item-info : list-group-item-secondary">
                <div class="d-flex w-100 justify-content-between">
                    <p class="m-0"
                       th:text="${timePartList[__${num}__].getDate().getMonthValue()}+'월' + ${timePartList[__${num}__].getDate().getDayOfMonth()} + '일('+${dayOfWeekList[__${numStat.index}__]}+')'">
                        title</p>
                    <small class="text-muted"></small>
                </div>
            </a>

            <a th:if="${#strings.setIsEmpty(timePartList[__${num}__].getVisitors())}" href="#"
               class="list-group-item list-group-item-action p-1">
                <div class="d-flex w-100 justify-content-center">
                    <p class="m-0 ">-</p>
                    <small class="text-muted"></small>
                </div>
            </a>
            <a th:if="${!#strings.setIsEmpty(timePartList[__${num}__].getVisitors())}"
               th:each=" visitor : ${timePartList[__${num}__].getVisitors()}" href="#"
               th:href="@{'/admin/visitor?id='+${visitor.getId()}}" class="list-group-item list-group-item-action p-1">
                <div class="d-flex w-100 justify-content-between">
                    <p class="m-0" th:text="${visitor.getName()}">name</p>
                    <small class="text-muted" th:text="${visitor.getPhoneNumber()}">phone number</small>
                </div>
            </a>
        </div>
    </div>
    <hr/>

    <div class="row text-left font-weight-bold" th:text="${systemData.getThirdPartTime()}">3time</div>
    <div class="row">
        <!--TODO : 현재날짜인경우  listgroup 색상변경-->
        <div class="list-group" th:each="num : ${#numbers.sequence(14,20)}">
            <a href="#" class="list-group-item list-group-item-action p-1" th:classappend="${timePartList[__${num}__].getDate()==today} ? list-group-item-info : list-group-item-secondary">
                <div class="d-flex w-100 justify-content-between">
                    <p class="m-0"
                       th:text="${timePartList[__${num}__].getDate().getMonthValue()}+'월' + ${timePartList[__${num}__].getDate().getDayOfMonth()} + '일('+${dayOfWeekList[__${numStat.index}__]}+')'">
                        title</p>
                    <small class="text-muted"></small>
                </div>
            </a>

            <a th:if="${#strings.setIsEmpty(timePartList[__${num}__].getVisitors())}" href="#"
               class="list-group-item list-group-item-action p-1">
                <div class="d-flex w-100 justify-content-center">
                    <p class="m-0 ">-</p>
                    <small class="text-muted"></small>
                </div>
            </a>
            <a th:if="${!#strings.setIsEmpty(timePartList[__${num}__].getVisitors())}"
               th:each=" visitor : ${timePartList[__${num}__].getVisitors()}" href="#"
               th:href="@{'/admin/visitor?id='+${visitor.getId()}}" class="list-group-item list-group-item-action p-1">
                <div class="d-flex w-100 justify-content-between">
                    <p class="m-0" th:text="${visitor.getName()}">name</p>
                    <small class="text-muted" th:text="${visitor.getPhoneNumber()}">phone number</small>
                </div>
            </a>
        </div>
    </div>
    <hr/>

    <div class="row text-left font-weight-bold" th:text="${systemData.getFourthPartTime()} + '(평일만)'">4time</div>
    <div class="row">
        <!--TODO : 현재날짜인경우  listgroup 색상변경-->
        <div class="list-group" th:each="num : ${#numbers.sequence(21,27)}">
            <a href="#" class="list-group-item list-group-item-action p-1" th:classappend="${timePartList[__${num}__].getDate()==today} ? list-group-item-info : list-group-item-secondary">
                <div class="d-flex w-100 justify-content-between">
                    <p class="m-0"
                       th:text="${timePartList[__${num}__].getDate().getMonthValue()}+'월' + ${timePartList[__${num}__].getDate().getDayOfMonth()} + '일('+${dayOfWeekList[__${numStat.index}__]}+')'">
                        title</p>
                    <small class="text-muted"></small>
                </div>
            </a>

            <a th:if="${#strings.setIsEmpty(timePartList[__${num}__].getVisitors())}" href="#"
               class="list-group-item list-group-item-action p-1">
                <div class="d-flex w-100 justify-content-center">
                    <p class="m-0 ">-</p>
                    <small class="text-muted"></small>
                </div>
            </a>
            <a th:if="${!#strings.setIsEmpty(timePartList[__${num}__].getVisitors())}"
               th:each=" visitor : ${timePartList[__${num}__].getVisitors()}" href="#"
               th:href="@{'/admin/visitor?id='+${visitor.getId()}}" class="list-group-item list-group-item-action p-1">
                <div class="d-flex w-100 justify-content-between">
                    <p class="m-0" th:text="${visitor.getName()}">name</p>
                    <small class="text-muted" th:text="${visitor.getPhoneNumber()}">phone number</small>
                </div>
            </a>
        </div>
    </div>
    <hr/>


</div>

</body>
</html>