<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
    <meta charset="UTF-8">
    <title>문화공감 예약 신청서</title>
</head>
<body>
<p>
booking view
</p>
<div class="container">
    <div class="row">
        <div class="col">
            <form th:action="@{/book/submit}" th:object="${visitor}" method="post">
                <div class="form-group">
                    <label for="name">이름</label>
                    <input id="name" name="name" class="form-control" required/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>