<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문화공감 예약 신청서</title>
    <style th:replace="fragments.html :: head-style"></style>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<div th:replace="fragments.html :: head-link"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
        integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
        crossorigin="anonymous"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
      integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
      crossorigin="anonymous"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"
        integrity="sha512-L4qpL1ZotXZLLe8Oo0ZyHrj/SweV7CieswUODAAPN/tnqN3PA1P+4qPu5vIryNor6HQ5o22NujIcAZIfyVXwbQ=="
        crossorigin="anonymous"></script>
<body class="bg-light">
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-3 text-center">💙꾸마 2층 문화공감💚
                <br/>
                온라인 예약 신청서 작성하기 </h1>
            <form id="booking-form" class="needs-validation" th:action="@{/book/submit}" th:object="${visitor}"
                  method="post"  novalidate>
                <!-- 이름 -->
                <div class="form-group">
                    <label for="name">🔸 이름</label>
                    <input id="name" th:field="*{name}" name="name" type="text" class="form-control" required/>
                    <small class="invalid-feedback">이름을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                        name Error
                    </small>
                </div>
                <!-- 패스워드 -->
                <div class="form-group">
                    <label for="password">🔸 패스워드</label>
                    <input id="password" th:field="*{password}" name="password" type="password" class="form-control"
                           aria-describedby="passwordHelp" required/>
                    <small id="passwordHelp" class="text-muted form-text">패스워드는 예약 수정 및 삭제 시 사용됩니다.</small>
                    <small class="invalid-feedback">이름을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                        password Error
                    </small>
                </div>


                <!-- 전화번호-->
                <div class="form-group">
                    <label for="phoneNumber">🔸 전화번호</label>
                    <input id="phoneNumber" th:field="*{phoneNumber}" name="phoneNumber" type="text"
                           class="form-control"
                           placeholder="010-0000-0000" aria-describedby="phoneNumberHelp" required
                           pattern="^\d{3}-\d{3,4}-\d{4}$"/>
                    <small id="phoneNumberHelp" class="form-text text-muted">
                        "-" 를 포함한 휴대폰 번호를 입력해주세요
                    </small>
                    <small class="invalid-feedback">"-" 를 포함해 010-0000-0000 형식의 휴대폰 번호를 입력해주세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('phoneNumber')}"
                           th:errors="*{phoneNumber}">phone number Error</small>
                </div>
                <!-- 나이-->
                <div class="form-group">
                    <label for="age">🔸 나이</label>
                    <input id="age" th:field="*{age}" name="age" type="text" class="form-control" pattern="[0-9]{1,2}"
                           required/>
                    <small class="invalid-feedback">올바른 나이를 입력해주세요</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age
                        Error</small>
                </div>
                <!-- 성별 -->
                <div class="form-group">
                    <label>🔸 성별</label>
                    <div th:each="gender : ${T(me.cheonhwa.bookyouthspace.domain.Gender).values()}">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" th:field="*{gender}" th:value="${gender}" class="custom-control-input"
                                   required/>
                            <label class="custom-control-label" th:for="${#ids.prev('gender')}"
                                   th:text="${gender.equals(T(me.cheonhwa.bookyouthspace.domain.Gender).MALE)} ? '남자' : '여자'">gender</label>
                        </div>
                    </div>
                </div>

                <!-- 예약 날짜 -->
                <div class="form-group">
                    <label for="calender">🔸 예약 날짜</label>
                    <input id="calender" type="text" th:field="*{reservedDate}" class="form-control"
                           placeholder="여기를 눌러 날짜를 선택하세요" required/>
                    <small class="invalid-feedback">예약 날짜를 선택해 주세요</small>
                </div>
                <!-- 예약 시간 -->
                <div class="form-group" id="time-part" style="display: none">
                    <label for="timetable">💙 예약 시간</label>
                    <small class="text-muted form-text">예약은 일주일 전부터 당일 오전 9시까지만 가능합니다.</small>
                    <table class="table" id="timetable">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">이용시간</th>
                            <th scope="col">예약가능인원 (현재 예약인원)</th>
                            <th scope="col">예약할 시간</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1타임</th>
                            <td>오전10:00 ~ 12:00</td>
                            <td id="1-timePart-personnel">-1</td>
                            <td>
                                <div class="form-check">
                                    <input id="1-timePart-radio" type="radio" th:field="*{reservedTimePart}"
                                           th:value="1"
                                           class="form-check-input" required/>
                                    <small class="invalid-feedback">예약시간을 선택해 주세요</small>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2타임</th>
                            <td>낮12:30 ~ 오후2:30</td>
                            <td id="2-timePart-personnel">-1</td>
                            <td>
                                <div class="form-check">
                                    <input id="2-timePart-radio" type="radio" th:field="*{reservedTimePart}"
                                           th:value="2"
                                           class="form-check-input" required/>
                                    <small class="invalid-feedback">예약시간을 선택해 주세요</small>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3타임</th>
                            <td>오후3:00 ~ 5:00</td>
                            <td id="3-timePart-personnel">-1</td>
                            <td>
                                <div class="form-check">
                                    <input id="3-timePart-radio" type="radio" th:field="*{reservedTimePart}"
                                           th:value="3"
                                           class="form-check-input" required/>
                                    <small class="invalid-feedback">예약시간을 선택해 주세요</small>
                                </div>
                            </td>
                        </tr>
                        <tr id="4-time" style="display: none">
                            <th scope="row">4타임</th>
                            <td>오후5:30 ~ 7:30</td>
                            <td id="4-timePart-personnel">-1</td>
                            <td>
                                <div class="form-check">
                                    <input id="4-timePart-radio" type="radio" th:field="*{reservedTimePart}"
                                           th:value="4"
                                           class="form-check-input" required/>
                                    <small class="invalid-feedback">예약시간을 선택해 주세요</small>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 이용 하고 싶은것 -->
                <div class="form-group">
                    <label>🔸 이용하고 싶은것</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{contentsToUse.computer}"/>
                        <label class="form-check-label" th:text="${contentNames[0]}">
                            checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{contentsToUse.pocketBall}"/>
                        <label class="form-check-label" th:text="${contentNames[1]}">
                            checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{contentsToUse.pingPong}"/>
                        <label class="form-check-label" th:text="${contentNames[2]}">
                            checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{contentsToUse.boardGame}"/>
                        <label class="form-check-label" th:text="${contentNames[3]}">
                            checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{contentsToUse.restArea}"/>
                        <label class="form-check-label" th:text="${contentNames[4]}">
                            checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{contentsToUse.photoZone}"/>
                        <label class="form-check-label" th:text="${contentNames[5]}">
                            checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{contentsToUse.ps4}"/>
                        <label class="form-check-label" th:text="${contentNames[6]}">
                            checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{contentsToUse.arcadeConsole}"/>
                        <label class="form-check-label" th:text="${contentNames[7]}">
                            checkbox
                        </label>
                    </div>
                </div>

                <!-- 최종 예약 수정 시간 : front에서 저장시 클라이언트 타임존을 기준으로 저장되기 때문에 back 에서 따로 저장한다.
                <div class="form-group">
                    <input type="datetime-local" th:field="*{reservationUpdateDateTime}" th:value="">
                </div>
                -->
                <div class="form-group">
                    <button id="form-submit" class="btn btn-primary btn-block" type="submit"
                            aria-describedby="submitHelp">👩 예약하기 🧑
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments.html :: help-message"></div>
</div>

</body>

<div th:replace="fragments.html :: form-validation"></div>
<script type="application/javascript" th:inline="javascript">
    $(function () {

        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });

        $("#calender").datepicker({
            format: "yyyy-mm-dd",
            startDate: '0d',
            endDate: '+7d',
            language: "ko",
            daysOfWeekDisabled: [1],
            autoclose: true,

        }).on("changeDate", function () {
            getTimePartData();
        });

        function getTimePartData() {
            var curdate = document.getElementById("calender").value;
            console.log($("#calender").datepicker('getDate'));
            console.log(curdate + "??");
            $.ajax({
                url: "/book/get-day-booking-status?date=" + curdate,
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8;",
                success: function (data) {
                    console.log(data);
                    var isOverTime = [[${isOverTime}]];
                    console.log(isOverTime);
                    if (!data.weekend) {
                        $('#4-time').show();
                        $('#1-timePart-personnel').text(10 - data.personnel[0] + "명 남음 ( " + data.personnel[0] + "명 예약중 )");
                        $('#2-timePart-personnel').text(10 - data.personnel[1] + "명 남음 ( " + data.personnel[1] + "명 예약중 )");
                        $('#3-timePart-personnel').text(10 - data.personnel[2] + "명 남음 ( " + data.personnel[2] + "명 예약중 )");
                        $('#4-timePart-personnel').text(10 - data.personnel[3] + "명 남음 ( " + data.personnel[3] + "명 예약중 )");

                        $('#1-timePart-radio')
                    } else {
                        $('#4-time').hide();
                        $('#1-timePart-personnel').text(10 - data.personnel[0] + "명 남음 ( " + data.personnel[0] + "명 예약중 )");
                        $('#2-timePart-personnel').text(10 - data.personnel[1] + "명 남음 ( " + data.personnel[1] + "명 예약중 )");
                        $('#3-timePart-personnel').text(10 - data.personnel[2] + "명 남음 ( " + data.personnel[2] + "명 예약중 )");
                    }
                    console.log("data.personnel[0] : " + data.personnel[0]);
                    console.log("data.personnel[1] : " + data.personnel[1]);
                    console.log("data.personnel[2] : " + data.personnel[2]);
                    console.log("data.weekend : " + data.weekend);
                    $.each(data.personnel, function (idx, val) {
                        console.log("data.personnel [" + idx + "] " + val);
                    });
                    $.each(data, function (idx, val) {
                        console.log("data [" + idx + "] " + val);
                    })
                    $('#time-part').show();

                },
                error: function () {
                    alert("error");
                }

            });
        }
    });
</script>


</html>
