<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문공 예약 현황</title>
    <style th:replace="fragments.html :: head-style"></style>

</head>
<div th:replace="fragments.html :: head-link"></div>
<body class="bg-light">
<div class="container main-container">

    <h1 class="pt-5">👩문공 예약 현황🧑</h1>
    <br/>
    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/book/form'">예약 신청 하기</button>
    <button type="button" class="btn btn-outline-danger btn-lg" onclick="location.href='/book/modify/login'">예약 수정</button>
    <button type="button" class="btn btn-outline-success btn-lg" onclick="location.href='/book/status'">예약 확인</button>
    <button type="button" class="btn btn-info btn-lg" onclick="location.href='/'">홈으로 돌아가기</button>
    <hr/>
    <div class="row">
        <ul class="list-group px-1">
            <li class="list-group-item">#</li>
            <li class="list-group-item">1타임 (오전10:00 ~ 12:00)</li>
            <li class="list-group-item">2타임 (낮12:30 ~ 낮2:30)</li>
            <li class="list-group-item">3타임 (오후3:00 ~ 5:00)</li>
            <li class="list-group-item">4타임 (오후5:30 ~ 7:30)</li>
        </ul>

        <ul class="list-group px-1" th:each="num: ${#numbers.sequence(0,6)}">
            <li class="list-group-item " th:classappend="${dayTimePartList[__${num}__].getTimePartList().size()==0}?
            list-group-item-dark :  ${dayTimePartList[__${num}__].isWeekend() ?'list-group-item-info' : 'list-group-item-success'}"
                th:text="${dayTimePartList[__${num}__].date.getMonthValue()}+'월'+${dayTimePartList[__${num}__].date.getDayOfMonth()}+'일('+${dayOfWeek[__${num}__]} +')'">date</li>
            <li class="list-group-item" th:each="timePart : ${dayTimePartList[__${num}__].getTimePartList()}"
                th:text="${timePart.getPersonnel()}+'명 예약'"></li>
        </ul>


    </div>
    <hr/>
    <div class="row">
        <ul class="list-group px-1">
            <li class="list-group-item">#</li>
            <li class="list-group-item">1타임 (오전10:00 ~ 12:00)</li>
            <li class="list-group-item">2타임 (낮12:30 ~ 낮2:30)</li>
            <li class="list-group-item">3타임 (오후3:00 ~ 5:00)</li>
            <li class="list-group-item">4타임 (오후5:30 ~ 7:30)</li>
        </ul>

        <ul class="list-group px-1" th:each="num: ${#numbers.sequence(7,13)}">
            <li class="list-group-item " th:classappend="${dayTimePartList[__${num}__].getTimePartList().size()==0}?
            list-group-item-dark :  ${dayTimePartList[__${num}__].isWeekend() ?'list-group-item-info' : 'list-group-item-success'}"
                th:text="${dayTimePartList[__${num}__].date.getMonthValue()}+'월'+${dayTimePartList[__${num}__].date.getDayOfMonth()}+'일('+${dayOfWeek[__${num}__]}+')'">date</li>
            <li class="list-group-item" th:each="timePart : ${dayTimePartList[__${num}__].getTimePartList()}"
                th:text="${timePart.getPersonnel()}+'명 예약'"></li>
        </ul>


    </div>




</div>
</body>

</html>