<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문공 예약 현황</title>
    <style th:replace="fragments.html :: head-style"></style>

</head>
<div th:replace="fragments.html :: head-link"></div>
<body>
<div class="container main-container">
    <h3>문공 예약 현황</h3>
    <br/>

    <div class="row">
        <ul class="list-group px-1">
            <li class="list-group-item">#</li>
            <li class="list-group-item">1타임 (오전10:00 ~ 12:00)</li>
            <li class="list-group-item">2타임 (낮12:30 ~ 낮2:30)</li>
            <li class="list-group-item">3타임 (오후3:00 ~ 5:00)</li>
            <li class="list-group-item">4타임 (오후5:30 ~ 7:30)</li>
        </ul>

        <ul class="list-group px-1">
            <li class="list-group-item list-group-item-success" th:text="일 ">일</li>

            <li class="list-group-item">0</li>
            <li class="list-group-item">0</li>
            <li class="list-group-item">0</li>

        </ul>


    </div>



</div>
</body>
</html>