<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문공 예약 현황</title>
    <style th:replace="fragments.html :: head-style"></style>

</head>
<div th:replace="fragments.html :: head-link"></div>
<body>
<div class="container main-container">
    <h3>문공 예약 현황</h3>
    <br/>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">일</th>
            <th scope="col">월</th>
            <th scope="col">화</th>
            <th scope="col">수</th>
            <th scope="col">목</th>
            <th scope="col">금</th>
            <th scope="col">토</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1타임 (오전10:00 ~ 12:00)</th>
            <div th:each=""
            <td>-1</td>
            <td>-1</td>
            <td>-1</td>
        </tr>
        <tr>
            <th scope="row">2타임 (낮12:30 ~ 낮2:30)</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3타임 (오후3:00 ~ 5:00)</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
        <tr>
            <th scope="row">4타임 (오후5:30 ~ 7:30)</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>