<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
    <style>
        .container {
            max-width: 100%;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .main-container {
            text-align: center;

        }

    </style>
</head>
<style th:fragment="head-style">
    .container {
        max-width: 100%;
        font-family: 'Noto Sans KR', sans-serif;
    }

    .main-container {
        text-align: center;

    }


</style>
<div th:fragment="head-link">
    <link href="https://fonts.googleapis.coㅋm/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
</div>

<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');

            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>
<script th:fragment="ajax-csrf">
    $(function () {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });
</script>
<div th:fragment="help-message">
    <div class="row ">
        <div class="col">
            <small> 💜 온라인 예약이 안될때 전화예약 : 070-4991-4582</small>
            <br/>
            <small class="text-muted mb-5">
                전화 걸고 "안녕하세요 2층 문화공감 예약하고싶어서 전화했어요~" 라고 한 후
                <br/>
                이름, 나이, 전화번호,예약하고싶은 날짜, 예약하고싶은 시간 말하면 끝!
            </small>
            <hr/>
        </div>
    </div>
</div>